body {
	width: auto;
	overflow-x: hidden;
	background-color: #f2f2f2;
	position: relative;
	height: 100%;
}

#navbarScroll a {
	width: 100%;
	font-family: "Merienda One";
	transition: all 0.3s ease;
	font-weight: 900;
}
#navbarScroll a:hover {
	color: #ffc857;
}

.navbar-brand {
	margin-left: 10px;
}

.navbar-dark .navbar-toggler {
	border: none;
}

.navbar-nav a {
	color: #fff;
	font-weight: 600;
}

.nnavbar-nav span {
	color: crimson;
	transition: all 0.3s ease;
}

.bg-custom {
	background-color: #e22030;
}

.navbar-nav button {
	border: none;
	background-color: #000;
	color: #fff;
	font-weight: 600;
	border-radius: 5px;
	padding: 5px 10px;
	transition: all 0.3s ease;
	margin-top: 5px;
	float: left;
}

#section1 .container-fluid {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}

h1 {
	text-align: center;
}

#section1 .row {
	color: black;
}
#section2 {
	height: 100%;
	width: 100%;
	color: gray;
}

#section3 {
	height: 100%;
	width: 100%;
	color: gray;
}

.form {
	border: 2px solid #ccc;
	padding: 10px;
	background-color: #ccc;
	margin: 0 auto;
	width: 53%;
}

#section3 .form{
	border: 2px solid #ccc;
	padding: 10px;
	background-color: #ccc;
	margin: 0 auto;
	width: 90%;
}